.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
  }
  
  .modal-body h6 {
    font-weight: bold;
    color: #495057;
  }
  
  .modal-body p {
    color: #212529;
    margin-bottom: 0;
  }
  
  .modal-body {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  